$clr-primary: hsl(172, 67%, 45%);
$clr-netural-1: hsl(183, 100%, 15%);
$clr-netural-2: hsl(186, 14%, 43%);
$clr-netural-3: hsl(184, 14%, 56%);
$clr-netural-4: hsl(185, 41%, 84%);
$clr-netural-5: hsl(189, 41%, 97%);
$clr-netural-6: hsl(0, 0%, 100%);
$input-font-size: 24px;
$bold-weight: 700;